<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2 th:text="#{app.title}">App Title</h2>
    <table>
        <thead>
            <tr>
                <th>İsim</th>
                <th>Telefon</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user:${sahipler}">
                <td th:text="${user.isim}"></td>
                <td th:text="${user.telefon}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>